<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Arena</title>
    <link rel="stylesheet" href="styleSheet/style.css">
    <link rel="stylesheet" href="/styleSheet/blogs.css">
    <link rel="stylesheet" href="/styleSheet/header.css">
    <link rel="stylesheet" href="/styleSheet/edit.css">
</head>
<body>
    
   <nav class="header"> 
        <div class="nameSite"><h1>Blog Arena</h1></div>

        <input type="checkbox" id="menu-toggle" />
         <label for="menu-toggle" class="menu-icon">☰</label>


        <div class="nav-links">
        <ul>
            <li><a id= "homeHeader" class="Nav-tab" href="/">Home</a></li>
            <li><a class="Nav-tab" href="/blogs">View Blogs</a></li>
        </ul>
        </div>
   </nav>
  